---
import Card from "./clientes/cliente.astro";
---

<section class="bg-zinc-900" id="clientes">
  <h2 class="text-center text-white text-4xl font-normal mt-28">
    últimos Proyectos
  </h2>
  <p class="text-zinc-400 text-center my-10 w-1/2 mx-auto">
    En Nexusweb nos dedicamos a crear soluciones web de vanguardia que cautivan
    y deleitan a nuestros clientes. ¡No te pierdas la oportunidad de descubrir
    lo que hemos creado!
  </p>

  <div class="flex p-5 mb-32 mt-10 justify-center">
    <Card foto="/pharmaplant.svg" />
    <Card foto="/quierogalleta.png" />
    <Card foto="/mexxfood.png" />
  </div>
</section>
