---
import Card from "./clientes/cliente.astro";
---

<section class="bg-zinc-900 pb-1" id="clientes">
  <h2 class="text-center text-white text-4xl font-normal lg:mt-28 mt-12 pt-12">
    últimos Proyectos
  </h2>
  <p
    class="text-zinc-400 text-center my-3 lg:my-10 lg:w-1/2 lg:mx-auto text-xs lg:text-sm"
  >
    En Nexusweb nos dedicamos a crear soluciones web de vanguardia que cautivan
    y deleitan a nuestros clientes. ¡No te pierdas la oportunidad de descubrir
    lo que hemos creado!
  </p>

  <div class="flex flex-col lg:flex-row lg:p-5 lg:mb-32 mt-10 justify-center">
    <Card foto="/pharmaplant.svg" />
    <Card foto="/quierogalleta.png" />
    <Card foto="/mexxfood.png" />
  </div>
</section>
