<section
  class="flex flex-col justify-center items-center lg:p-32 p-12 border-b border-zinc-400"
  id="contactanos"
>
  <p class="mb-10">¿Te gustaria hablar con nosotros?</p>
  <a
    href="#"
    class="border-2 px-12 py-3 border-neutral-950 tracking-widest hover:border-neutral-50 hover:bg-black hover:text-white transition"
    >Contactanos</a
  >
</section>
