<section class="">
  <h2 class="lg:text-center lg:my-10 lg:text-4xl">
    ¿Listo para impulsar tu presencia online?
  </h2>
  <div class="flex">
    <article class="flex flex-col w-1/2 items-center mx-auto justify-evenly">
      <h3 class="text-black lg:text-4xl">Trabajemos juntos!</h3>
      <p class="lg:w-1/2 text-justify lg:my-5">
        Si desear consultar mayor informacion sobre nuestros servicios o tienes
        alguna duda al respecto, no dudes en solicitar una consultoria gratuita
        y te asesoraremos a la brevedad
      </p>
      <a href="#linkwasaaaa" class="font-bold"
        >Contactanos via WhatsApp +58 0412-4609637</a
      >
      <p class="font-bold">NexusWeb@gmail.com</p>
    </article>
    <article class="lg:w-1/2 lg:p-5">
      <form action="" class="flex border-2 border-black lg:p-5">
        <article class="flex flex-col justify-evenly lg:w-1/2">
          <img src="/logonegro2.png" alt="" class="w-40" />
          <input
            type="text"
            placeholder="Nombre y Apellido"
            class="border-b border-black"
          />
          <input
            type="text"
            placeholder="Telefono"
            class="border-b border-black"
          />
          <input
            type="text"
            placeholder="Correo Electronico"
            class="border-b border-black"
          />
        </article>
        <article class="flex flex-col lg:py-5 lg:pl-10 w-full">
          <label for="propuestaText" class="text-zinc-400"
            >Describe tu Propuesta</label
          >
          <textarea
            name=""
            id="propuestaText"
            class="border border-zinc-950 w-auto h-36"></textarea>
        </article>
      </form>
    </article>
  </div>
</section>
