<footer class="lg:p-20 p-10 flex flex-col">
  <article
    class="flex flex-col lg:flex-row justify-between border-b border-zinc-400"
  >
    <div class="max-w-sm">
      <p class="font-semibold">Sobre Nosotros</p>
      <p class="text-justify text-zinc-500 mb-3 text-xs">
        Nexusweb es el resultado de la pasión de jeff por crecer como
        profesional en el campo del desarrollo de software. Como empresa
        especializada en el desarrollo de aplicaciones web, tanto en el lado del
        servidor como en el cliente, nos dedicamos a ofrecer soluciones
        innovadoras y de calidad.
      </p>
    </div>
    <div class="flex flex-col justify-between pb-7">
      <p class="font-semibold">Ultimos Proyectos</p>
      <a class="text-zinc-500 text-sm pb-2" href="">Phamaplant</a>
      <a class="text-zinc-500 text-sm pb-2" href="">Quiero Galleta</a>
      <a class="text-zinc-500 text-sm pb-2" href="">Meex Food</a>
    </div>
    <div class="flex flex-col justify-between pb-7">
      <p class="font-semibold">NexusWeb</p>
      <a class="text-zinc-500 text-sm pb-2" href="#sobrenosotros"
        >¿Quienes somos?</a
      >
      <a class="text-zinc-500 text-sm pb-2" href="#contactanos">Contacto</a>
      <a class="text-zinc-500 text-sm pb-2" href="#"
        >Terminos y condiciones del servicio</a
      >
    </div>
  </article>
  <article class="flex lg:justify-end justify-center">
    <img class="mx-2 my-10" src="gmail.png" alt="" />
    <img class="mx-2 my-10" src="insta.png" alt="" />
    <img class="mx-2 my-10" src="github.png" alt="" />
  </article>
</footer>
