<header
  class="flex text-white h-20 justify-end items-center font-bold fixed w-full z-50 bg-transparent transition-colors duration-300"
>
  <a href="/" class="inline-block mr-5">
    <img
      src="/nexusweb.png"
      alt="Logotipo de NexusWeb"
      class="h-20 absolute left-6 top-4"
    />
  </a>
  <nav class="mr-24">
    <ul class="flex font-light">
      <li>
        <a
          href="/"
          class="mx-5 hover:text-gray-300"
          aria-label="Ir a la p치gina de inicio">Inicio</a
        >
      </li>
      <li>
        <a
          href="/servicios"
          class="mx-5 hover:text-gray-300"
          aria-label="Ir a la p치gina de servicios">Servicios</a
        >
      </li>
      <li>
        <a
          href="/portafolio"
          class="mx-5 hover:text-gray-300"
          aria-label="Ir a la p치gina de portafolio">Portafolio</a
        >
      </li>
      <li>
        <a
          href="/sobre-nosotros"
          class="mx-5 hover:text-gray-300"
          aria-label="Ir a la p치gina de sobre nosotros">Sobre nosotros</a
        >
      </li>
    </ul>
  </nav>
</header>

<script>
  window.addEventListener("scroll", function () {
    const navbar = document.querySelector("header");

    if (navbar) {
      if (window.scrollY > 0) {
        navbar.classList.add("bg-zinc-900");
      } else {
        navbar.classList.remove("bg-zinc-900");
      }
    }
  });
</script>
