<header
  class="flex text-white h-20 justify-end items-center font-bold fixed w-full z-50"
  id="navbar"
>
  <img src="/nexusweb.png" alt="" class="absolute top-1 left-5" />
  <div class="m-5 text-lg font-normal mr-24">
    <a class="mx-10" href="">Inicio</a>
    <a class="mx-10" href="">Servicios</a>
    <a class="mx-10" href="">Portafolio</a>
    <a class="mx-10" href="">Sobre nosotros</a>
  </div>
</header>

<script>
  window.addEventListener("scroll", function () {
    const navbar = document.getElementById("navbar"); // Reemplaza 'navbar' con el ID de tu barra de navegación

    if (window.scrollY > 0) {
      navbar.classList.add("bg-zinc-900");
      //navbar.style.backgroundColor = "#1A1A1A"; // Cambia el color de fondo a rojo (puedes ajustarlo según tus necesidades)
      navbar.style.transition = "background-color 0.3s ease"; // Agrega una transición suave de 0.3 segundos
    } else {
      navbar.classList.remove("bg-zinc-900"); // Cambia el color de fondo a transparente cuando el scroll está en la parte superior
      navbar.style.transition = "background-color 0.3s ease"; // Agrega una transición suave de 0.3 segundos
    }
  });
</script>
