<section
  class="flex flex-col justify-center items-center h-screen bg-slate-500 bg-no-repeat bg-cover bg-gradient-to-tr"
  style="background-image: url('/heroimg1.png')"
>
  <img src="/logo.png" alt="" class="w-48 mb-20 mt-44" />
  <p
    class="inline text-white text-5xl font-normal px-60 text-center mb-72 tracking-wide"
  >
    ¿Listo para impulsar tu presencia online?
  </p>
  <a
    href="#sobrenosotros"
    class="flex justify-center items-center bg-white p-2 rounded-2xl absolute bottom-5 right-8 hover:scale-105 transition z-10"
  >
    Descubre lo que tenemos para ti
    <img src="/arrowdown.png" alt="" />
  </a>
</section>
