---
import Card from "./clientes/cliente.astro";
---

<section class="bg-zinc-900 pb-1" id="clientes">
  <h2 class="text-center text-white text-4xl font-normal pt-12 lg:pt-24">
    últimos Proyectos
  </h2>
  <p
    class="text-zinc-400 text-center my-3 lg:my-10 lg:w-1/2 lg:mx-auto text-xs lg:text-sm"
  >
    En Nexusweb nos dedicamos a crear soluciones web de vanguardia que cautivan
    y deleitan a nuestros clientes. ¡No te pierdas la oportunidad de descubrir
    lo que hemos creado!
  </p>

  <div class="flex flex-col lg:flex-row lg:p-5 lg:mb-32 mt-10 justify-center">
    <Card
      foto="/pharmaplant.svg"
      nombre="pharmaplant"
      paginaLink="https://pharmaplantca.com/"
    />
    <Card
      foto="/quierogalleta.png"
      nombre="Quiero Galleta"
      paginaLink="https://pharmaplantca.com/"
    />
    <Card
      foto="/mexxfood.png"
      nombre="MeexFood"
      paginaLink="https://pharmaplantca.com/"
    />
  </div>
</section>
