---

---

<section
  class="flex flex-col items-center justify-center max-w-5xl mx-auto"
  id="sobrenosotros"
>
  <p class="mt-32 text-zinc-400">Desarrollo de sitios y aplicaciones web</p>
  <h2 class="text-center font-semibold text-4xl my-10">
    Somos NexusWeb Un Equipo Creativo Dedicado al Diseño y Desarrollo De Sitios
    Web
  </h2>

  <p class="text-zinc-400 text-center px-28 mb-10">
    Nexusweb es el resultado de la pasión de dos amigos por crecer como
    profesionales en el mundo del desarrollo de software. Como emprendimiento
    especializado en el desarrollo de sitios web, nos dedicamos a ofrecer
    soluciones innovadoras y de calidad a nuestros distinguidos clientes para
    que tengan una mejor pressencia online.
  </p>

  <img src="/logonegro.png" alt="" class="mb-10" />

  <p class="text-zinc-400 mb-3">¿te interesa nuestro trabajo?</p>

  <a
    href="#"
    class="border-2 px-12 py-3 border-neutral-950 tracking-widest hover:border-neutral-50 hover:bg-black hover:text-white transition mb-32"
    >Ve nuestro Portafolio</a
  >
</section>
<div
  class="flex justify-center items-center w-full bg-zinc-900 h-28 text-white"
>
  <p class="ml-7">Web</p>
  <div class="h-8 mx-3 bg-white w-px"></div>
  <p>Aplicaciones</p>
</div>
