---
interface Props {
  foto: string;
}

const { foto } = Astro.props;
---

<article class="articulo hover:scale-105 transition mx-2 relative w-96 h-96">
  <img src={foto} alt="" class="absolute inset-0 object-cover" />
  <!-- <p class="absolute bottom-0 left-1/2 -translate-x-1/2 text-xl text-white">
    {titulo}
  </p> -->
</article>

<style>
  .articulo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .articulo:hover::before {
    opacity: 1;
  }
</style>
